<!DOCTYPE html>
<html>
	<title>Edit Responses</title>

	<div class="triggerPane">
		<table id="triggersTable" style="width:300px; float:left;">
			<thead>
				<tr>
					<th>id</th>
					<th>Trigger Questions</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
	<div class="responsePane">
		<table id="possibleResponsesTable" style="width:300px; float:left;">
			<thead>
				<tr>
					<th>id</th>
					<th>Possible Responses</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>

		<table id="chosenResponsesTable" style="width:300px; float:left;">
			<thead>
				<tr>
					<th>id</th>
					<th>Selected Responses</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
		<input type = "submit" value = "add" id = "addButton">
		<input type = "text" name = "inputText" id = "inputText"
	</div>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	var diagnosisID = getParameterByName("diagnosisID");
	var selectedTriggerID = -1;

	function addRowToPossibleResponsesTable(id, response) {

	}

	function setPossibleResponsesTableClickable() {
		$(".clickableRowPResponse").click(function() {
        	$.post("edit/addResponseForDiagnosis", { triggerID:window.selectedTriggerID, responseID:$(this).find('td.responseID').html(), diagnosisID:window.diagnosisID }, function(data,status) {

        		var obj = JSON.parse(data);

        		if (obj.length > 0) {
        			obj = obj[0];
	        		$('#chosenResponsesTable > tbody:last').append("<tr id='cres" + obj.id + "' class='clickableRowCResponse' style='cursor:pointer;'><td class='responseID'>" + obj.id + "</td><td>" + obj.response + "</td></tr>");

	        		$(".clickableRowCResponse").click(function() {
						$.post("edit/removeResponseForDiagnosis", { triggerID:window.selectedTriggerID, responseID:$(this).find('td.responseID').html(), diagnosisID:window.diagnosisID }, function(data,status) {});
						this.remove();
					});
	        	}
			});
	    });
	}

	function addRowToChosenResponsesTable(id, response) {

	}

	$(document).ready(function($) {
		$.get("edit/getTriggerList", 
			function(data,status) { 
				var obj = JSON.parse(data);

				$.each(obj, function(i, item) {
					$('#triggersTable > tbody:last').append("<tr id='trig" + item.id + "' class='clickableRowTrigger' style='cursor:pointer;'><td class='triggerID'>" + item.id + "</td><td>" + item.trigger + "</td></tr>")
				});

				$(".clickableRowTrigger").click(function() {
			    	$(".clickableRowTrigger").attr('bgcolor', 'white');
			        $(this).attr('bgcolor', 'grey');
			        window.selectedTriggerID = $(this).find('td.triggerID').html();
			        
			        $.post("edit/getResponseListFor", { triggerID:$(this).find('td.triggerID').html() }, function(data,status) {
			        	var obj = JSON.parse(data);

			        	$("#possibleResponsesTable tbody > tr").remove();
			        	$.each(obj, function(i, item) {
							$('#possibleResponsesTable > tbody:last').append("<tr id='pres" + item.id + "' class='clickableRowPResponse' style='cursor:pointer;'><td class='responseID'>" + item.id + "</td><td>" + item.response + "</td></tr>")
						});
			        	setPossibleResponsesTableClickable();

			        });

			        $.post("edit/getResponseListForDiagnosis", { triggerID:$(this).find('td.triggerID').html(), diagnosisID:window.diagnosisID }, function(data,status) {
			        	var obj = JSON.parse(data);

			        	$("#chosenResponsesTable tbody > tr").remove();
			        	$.each(obj, function(i, item) {
							$('#chosenResponsesTable > tbody:last').append("<tr id='cres" + item.id + "' class='clickableRowCResponse' style='cursor:pointer;'><td class='responseID'>" + item.id + "</td><td>" + item.response + "</td></tr>")
						});

						$(".clickableRowCResponse").click(function() {
							$.post("edit/removeResponseForDiagnosis", { triggerID:window.selectedTriggerID, responseID:$(this).find('td.responseID').html(), diagnosisID:window.diagnosisID }, function(data,status) { });
							this.remove();
						});
					});
			    });
			}
		);
		
		$("#addButton").click(function() {
			if (selectedTriggerID != -1) {
				$.post("edit/addResponseForTrigger", 
					{ triggerID:selectedTriggerID, responseValue:$("#inputText").val() }, 
					function(data,status) { 
						var obj = JSON.parse(data)
						obj = obj[0]
						if (obj.id != -1) {
							$('#possibleResponsesTable > tbody:last').append("<tr id='pres" + obj.id + "' class='clickableRowPResponse' style='cursor:pointer;'><td class='responseID'>" + obj.id + "</td><td>" + obj.response + "</td></tr>")

							setPossibleResponsesTableClickable();
						}
					}
				);
			}

		});

	});

	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}
</script>