<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Assessment</title>
    <link href="{{ url_for('static', filename='StyleCode.css') }}" rel="stylesheet" type="text/css" />

    <script src="{{ url_for('static', filename='SpryAssets/SpryMenuBar.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='SpryAssets/SpryMenuBarHorizontal.css') }}" rel="stylesheet" type="text/css" />
    <style type="text/css">
    <!-- body {
        background-image: url("{{ url_for('static', filename='images/Doctor.jpg') }}");
        background-repeat: no-repeat;
        background-position: center +100px;
    }
    -->
    </style>
</head>

<body>
    <div id="Play" class="width2">
        <div id="MenuBar" class="width2">
            <ul id="HorizontalMenu" class="MenuBarHorizontal">
                <li><a id="quizButton" href="#">Quiz</a>
                </li>
                <li><a id="educateButton" href="#">Educate</a>
                </li>
                <li><a href="/">Patient List</a>
                </li>
                <li><a href="#Account">My Account</a>
                </li>
            </ul>
            <div id="User"></div>
        </div>
        <div id="Playbox" class="width2">
          <textarea id="assessmentText"></textarea>
        </div>
    </div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
var selectedPatientID = getParameterByName("patientID");
var missedTriggers;
var matchedTriggers;
var unnecessaryTriggers;

<!--
var MenuBar1 = new Spry.Widget.MenuBar("HorizontalMenu", {
    imgDown: "{{ url_for('static', filename='SpryAssets/SpryMenuBarDownHover.gif') }}",
    imgRight: "{{ url_for('static', filename='SpryAssets/SpryMenuBarRightHover.gif') }}"
});
//-->

$("#quizButton").click(function() {
    window.location = "/quiz?patientID=" + selectedPatientID
});

$("#educateButton").click(function() {
    window.location = "/knowledgebase?patientID=" + selectedPatientID
});

function loadUserName() {
    $.get("/user/getCurrentUserName", function(data, status) {
        var obj = JSON.parse(data);
        var usr = obj[0];

        $('#User').text(usr.user_name);
    });
};

function loadAssessment() {
    $.post("/getAssessment", { "patientID":selectedPatientID }, function(data, status) {
        var results = JSON.parse(data)[0];

        var assessmentText = "Missed:\n";
        for (var i = 0; i < results.missed.length; i++) {
          assessmentText = assessmentText + " " + results.missed[i].id + "  " + results.missed[i].trigger + "\n";
        }
        assessmentText = assessmentText + "\nMatched\n";
        for (var i = 0; i < results.matched.length; i++) {
          assessmentText = assessmentText + " " + results.matched[i].id + "  " + results.matched[i].trigger + "\n";
        }
        assessmentText = assessmentText + "\nUnnecessary\n";
        for (var i = 0; i < results.unnecessary.length; i++) {
          assessmentText = assessmentText + " " + results.unnecessary[i].id + "  " + results.unnecessary[i].trigger + "\n";
        }

        $("#assessmentText").text(assessmentText);

        window.missedTriggers = results.missed;
        window.matchedTriggers = results.matched;
        window.unnecessaryTriggers = results.unnecessary;
    });
}

$(document).ready(function($) {
    loadUserName();
    loadAssessment();
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>


</html>