<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quiz</title>
    <link href="{{ url_for('static', filename='StyleCode.css') }}" rel="stylesheet" type="text/css" />

    <script src="{{ url_for('static', filename='SpryAssets/SpryMenuBar.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='SpryAssets/SpryMenuBarHorizontal.css') }}" rel="stylesheet" type="text/css" />
    <style type="text/css">
    <!-- body {
        background-image: url("{{ url_for('static', filename='images/Quiz.png') }}");
        background-repeat: no-repeat;
        background-position: center +100px;
    }
    -->
    </style>
</head>

<body>
    <div id="Play" class="width2">
        <div id="MenuBar" class="width2">
            <ul id="HorizontalMenu" class="MenuBarHorizontal">
                <li><a class="MenuBarItemSubmenu" href="#">Tools</a>
                </li>
                <li><a id="completeQuizButton" href="#">Complete Quiz</a>
                </li>
                <li><a href="/">Patient List</a>
                </li>
                <li><a href="#Account">My Account</a>
                </li>
            </ul>
            <div id="User"></div>
        </div>
        <div id="Playbox" class="width2">
            <table width="300" id="quizTable" style="width:320px; float:left;">
                <thead>
                    <tr>
                        <th width="200">Question</th>
                        <th width="50"></th>
                        <th width="200">Answer</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
var selectedPatientID = getParameterByName("patientID");

<!--
var MenuBar1 = new Spry.Widget.MenuBar("HorizontalMenu", {
    imgDown: "{{ url_for('static', filename='SpryAssets/SpryMenuBarDownHover.gif') }}",
    imgRight: "{{ url_for('static', filename='SpryAssets/SpryMenuBarRightHover.gif') }}"
});
//-->

$("#completeQuizButton").click(function() {

});

function loadUserName() {
    $.get("/user/getCurrentUserName", function(data, status) {
        var obj = JSON.parse(data);
        var usr = obj[0];

        $('#User').text(usr.user_name);
    });
};

function loadQuiz() {
    $.get("/getQuiz", function(data, status) {
        var obj = JSON.parse(data);

        $.each(obj, function(i, item) {
            $('#quizTable > tbody:last').append("<tr id=" + item.quiz_materials_id + "><td class='questionItem'>" + item.question + "</td><td class='answerButton'>show</td><td class='answerItem'></td></tr>");
            $(".answerButton").click(function() {
            $(".answerButton").attr('bgcolor', 'white');
            $(this).attr('bgcolor', 'grey');
            $(this).find('#answer').text(item.answer);
        });
    });
};

$(document).ready(function($) {
    loadUserName();
    loadQuiz();
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>

</html>
