<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flipped Classroom</title>
<link href="{{ url_for('static', filename='FPIndex.css') }}" rel="stylesheet" type="text/css" />
<style type="text/css">
body{
	background-repeat: no-repeat;
	background-position: center 0px;
	background-image: url("{{ url_for('static', filename='images/Hospital 3.jpg') }}");
	}
</style>

</head>

<body>
<div class="width" id="Login">
 <div id="Submenu">   
    <form name="input" action="login" method="POST">
      <fieldset><legend>Log In</legend>
      Username: <input type="text" name = "username" id = "userText" /><br>
      Password: <input type="text" name = "password" id = "passText" /><br>
      </fieldset>
    
      <div id="LoginButton"> 
        <input name="Login" type="submit" value="  Enter  " id = "submitButton"/>
  	  </div>
    </form>
  </div>
</div>


</body>
</html>
