@charset "utf-8";
body/* CSS Document */

 {
	background-color: #FFFFFF;
}
.width {
	height: 500px;
	width: 600px;
	margin: Auto;
}
#Login {
	//filter: Alpha(Opacity=60);
	//opacity: 0.6;
}
.width2 {
	margin: auto;
	width: 1000px;
}
#Edit {
	height: 400px;
}

#MainBox {
	height: 600px;
}
#MainBox #MenuBar {
	height: 40px;
}
#Edit #MenuBar {
	height: 40px;
}
#Edit #Editbox {
	height: 550px;
	margin-top: 20px;
	background-color: #DFDFDF;
	opacity: 0.95;
}
#Edit #MenuBar #MenuBar1 {
	margin-left: 150px;
}
#Edit #MenuBar #User {
	text-transform: uppercase;
	text-align: center;
	background-color: #9595FF;
	height: 20px;
	width: 230px;
	float: right;
	font-style: normal;
	text-decoration: underline;
}


#MainBox #PatientList {
	width: 450px;
	height: 400px;
	float: left;
	background-color: #FFFFFF;
	opacity: 0.9;
}
#MainBox #PatientChartBrief {
	float: right;
	height: 400px;
	width: 450px;
	background-color: #CCCCCC;
	opacity: 0.9;
}


#Menu {
	background-color: #FF0033;
}
#Login #Submenu {
	background-color: #0066FF;
	position: relative;
	top: 200px;
	left: 180px;
	width: 250px;
	height: 130px;
	opacity: 0.95;
}

#Login #Submenu #LoginButton {
	position: relative;
	margin: auto;
	top: 10px;
	left: 90px;
}
#MainBox #MenuBar #User {
	height: 20px;
	width: 230px;
	background-color: #9595FF;
	text-transform: uppercase;
	text-decoration: underline;
	font-style: normal;
	text-align: center;
	float: right;
}
#Play {
	height: 600px;
	float: none;
}
#Play #MenuBar {
	height: 40px;
}
#Play #MenuBar #MenuBar1 {
	margin-left: 150px;
}

#Play #Playbox {
	height: 550px;
	margin-top: 20px;
	background-color: #CCCCCC;
	opacity: 0.95;
}
#Play #MenuBar #User {
	text-transform: uppercase;
	text-decoration: underline;
	background-color: #9595FF;
	font-style: normal;
	text-align: center;
	float: right;
	width: 230px;
	height: 20px;
}
