/* IMM061713#US4054 >>> Common css overrides for beta */

#debugPanel {
	position:fixed;
	top:50px;
	right:30px;
	width:300px;
	height:200px;
	border:1px solid #555;
	background:#FFF5D1;
	overflow-y:auto;
	font:normal 11px/13px Lucida Console, Courier New;
	z-index:5000;
}

/* IMM072913#???? >>> New beta header styles */
			
	/* Header > Common */
	#header2 #tier2, #header2 #tier3 {
		background: url(../../../images/ui-sprite.png) repeat-x 0px 0px;
		height: 29px;
		border-bottom: 1px solid #d1d1d1;
		position: relative;
	}

	/* Header > Tier 1 */
	#header2 #tier1 {
		background: white;
		height: 56px;
		overflow: hidden;	
		border-bottom: 1px solid #d1d1d1;
		position: relative;
	}
	#header2 #tier1 #headerLogo {
		margin:16px 0 0 15px;
	}
	#header2 #tier1 #cobrandingLogo {
		top:10px;
		left:140px;
	}
	#header2 #tier1 #headerLinks {
		position: absolute;
		top: 15px;
		right: 10px;	
	}
	#header2 #tier1 #headerLinks a, .validate a {
		font-size: 11px;
		font-weight: normal;
		text-decoration: none;
		padding: 0 0 0 12px;
		display: inline-block;
		line-height:22px;
		color:#1F98F6;
		background: url(../../../images/ui-sprite.png) no-repeat -561px -222px;
	}
	#header2 #tier1 #headerLinks a.setFBLanguage {
		background: url(../../../images/ui-sprite.png) no-repeat -1001px -254px;
		padding:0 11px 0 9px;
	}

	/* Header > Tier 2 */
	#header2 #tier2 {
		text-align: right;	
		padding: 0 10px;
	}
	#header2 #tier2 #tier2_content p {
		margin: 0;
		padding: 0;
		font-size: 11px;
		display: inline;	
	}
	#header2 #tier2 #tier2_content a {
		font-weight: bold;
		font-size: 11px;
		text-decoration: none;
		color:#336633;
	}
	
	#header2 #tier2 #tier2_content a#headerLogin {
		color:#1F98F6;
	}
	#header2 #tier2 #rightLinks {
		display: inline;
		margin-left: 11px;
		margin-right: -11px;
	}
	#header2 #tier2 #rightLinks a {
		background: url(../../../images/ui-sprite.png) no-repeat -561px -226px;
		padding: 0 11px 0 12px;	
	}

	/* Header > Tier 3 */
	#header2 #tier3 {
		padding: 0 10px;
	}
		#header2 #tier3 #topSearchBar {
			float: left;	
		}
		#header2 #tier3 #tier3_content ul {
			list-style-type: none;	
			margin: 0;
			padding: 0;
		}
		#header2 #tier3 #tier3_content ul li {
			display: block;
			float: right;
		}
		#header2 #tier3 #tier3_content ul li a {
			font-weight: bold;
			padding: 0 11px 0 12px;
			font-size: 11px;
			text-decoration: none;
			background: url(../../../images/ui-sprite.png) no-repeat -561px -222px;
			height: 26px;
			line-height: 22px;
			display: inline-block;
		}
		#header2 #tier3 #tier3_content ul li.firstnav a {
			background:none;
			margin-left: 20px;	
		}
	#header2 #tier3 #overflowMenu {
		width: 30px;
		height: 26px;
		background: url(../../../images/ui-sprite.png) no-repeat -38px -237px;
		display: none;
		cursor: pointer;
	}
	#header2 #tier3 .overflowOn {
		background: url(../../../images/ui-sprite.png) no-repeat -86px -237px !important;	
	}
	
	#header2 #tier3 #tier3_content a#backtosearch {
		display:block;
		float:left;
		margin-top:3px;
		margin-right:5px;
		width:16px;
		height:16px;
		text-indent:-999em;
		background:url(../../../images/ui-sprite.png) no-repeat -440px -253px;
	}

	#header2 #tier3 #tier3_content #headerMenuWrap {
		height:30px;
		overflow:hidden;
	}
	
	/* Header > Common cascades */
	#header2 #tier1 #headerLinks a:hover, 
	#header2 #tier3 #headerMenu ul li a:hover, 
	#header2 #tier2 #tier2_content a:hover {
		text-decoration: underline;
	}
	
	#tier2_content, #tier3_content {
		position:relative;
		height: 30px;
	    top: 3px;
	    overflow: hidden;
	    line-height: 22px;
	}
		
		.ie8 #tier3_content {
			line-height:inherit;
		}
	
	.fixedTop #header2 #tier3 {
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 1000;
	}
	
	.fixedTop #greyBar {
		position: fixed;	
		top: 30px;
		z-index: 100;
		opacity: .925;
	}
		html.ie .fixedTop #greyBar {
			opacity: .965;
			z-index:101;
		}
	
	#greyBar {
		position:static;
		height:30px;
		background: #fff url(../../../images/bgGBBrdCrm.gif) repeat-x left bottom;
	}

		#greyBar #greyBarTitle {
			padding-left:1.0em;
			color:#333;
			min-width:0;
		}
		
		html.ie7 #greyBar #greyBarTitle {
			margin-left:0;
		}
		
		#greyBar #greyBarButtons {
			padding-right:10px;
			/* US6256  */
			/*	display:block; */
			display: inline-flex;
			vertical-align: inherit;
			float: right;
			padding-top:4px;
		} 
	
		#greyBar #greyBarButtons #fitHBW {
				width:186px;
				display:inline-block;
				padding:0;
				height:19px;
				margin-right: 0;
				border-bottom: 1px solid #dcdcdc;
				border-right: 0;
				border-top: 1px solid #c4c4c4;
				border-left: 1px solid #dcdcdc;
			vertical-align: bottom;
		}
			#greyBar #greyBarButtons #findInPageGBBox {
				border:0;
				outline:none;
				margin:0;
				width:173px;
				margin-right:10px;
			}

				#findInPageGBBox.ghost {
					opacity:0.40;
				}
				
				#greyBar #greyBarButtons #findInPageGBBox:focus {
					outline:none;
				}

		#greyBar #greyBarButtons .textLink {
			vertical-align:0;
			font-size:11px;
			line-height:21px;
			padding-left:15px;
			margin-right:0px;
			display:inline-block;
		}

		#greyBar #greyBarButtons .buttonLink {
			border-top:1px solid #dadada;
			border-right: 1px solid #c5c5c5;
			border-bottom: 1px solid #a3a3a3;
			border-left: 1px solid #b9b9b9;
			padding:3px 15px 2px;
			margin-left:-4px;
			margin-right:0px;
			margin-top:1px;
			font-size:11px;
			display:inline-block;
			vertical-align: middle;
			height:14px;
		}
		@-moz-document  url-prefix() {
		    #greyBar #greyBarButtons .buttonLink {
				margin-top:0;
		    }
		}
		@media screen and (-webkit-min-device-pixel-ratio:0) { 
 		   #greyBar #greyBarButtons .buttonLink { margin-top: 0px; } 
		}
		#greyBar #greyBarButtons .findInPageLink {
			width:20px;
			/* height: 15px; */
		}

		#greyBar #greyBarButtons .buttonLink:hover {
			border-top:1px solid #dadada;
			border-right: 1px solid #c5c5c5;
			border-bottom: 1px solid #a3a3a3;
			border-left: 1px solid #b9b9b9;
			text-decoration:none;
			color:#646464;
		}
			
			#greyBar #greyBarButtons .buttonLink.disabledButton {
				border:1px solid #fff;
				color:#aaa;
			}
			
			/* IMM092413 IE7 Find in Topic header overrides >>> 
			html.ie7.smartSearchUIEnabled #greyBar #greyBarTitle {
				width:auto;
			}
			*/
			/* <<< IMM092413 */
			
	.fixedTop #header2 {
		padding-bottom:28px;	
	}
	
		.fixedTop.tier4 #header2 {
			padding-bottom:58px;
		}
	
	#greyBarShadow {
		height: 4px;
		background: url(/images/topic-shadow.png) no-repeat 50% 0;
		position: absolute;
		bottom: -4px;
	}
	
	.fixedTop #greyBar #greyBarShadow {
		position: fixed;	
		bottom: auto;
		left: 0px;
		top: 59px;
	}
	
	.fixedTop #greyBarSimple #greyBarShadow {
		position: fixed;	
		top: 30px;
	}
	
	#greyBarShadow.absShadow {
		position:fixed;
		top:69px;
		left:0;
		z-index:4999;
	}

	/* These are the layout overrides, there are to be integrated into *
	 * the individual "layout*.jsp" template css files after beta.     */
	#topPanel {
	 	position:static !important;
	 	background-color:#fff !important;
	 	background-image:url() !important;
	 	background-repeat: no-repeat !important;
	 	background-position: inherit !important;
	 	margin:0;
	 	padding:0;
	 	width:100%;
	 	top:auto;
	 	left:auto;
	 	height:auto;
	 	overflow:hidden; 
	}
		
		 /* General "common.css" header element overrides *
		  * These basically just cancel out the existing  *
		  * identically named styles from common.css...   */
		#headerMenu {
		 	position:static;
		 	top:auto;
		 	left:auto;
		 	font-size:inherit;
		 	line-height:inherit;
		 	text-shadow:none;
		}
		 
		#headerMenu ul {
		 	padding:inherit;
		 	display:inherit;
		}
		 
		#headerMenu ul li {
		 	background-image:url();
		}
		#headerMenu ul li a,
		#headerMenu ul li.current a {
			color:#336633;
		}
		#headerMenu ul li a:hover {
			color:#336633;
			text-decoration:underline;
		}

		#topSearchBar {
			position:static;
			top:auto;
			left:auto;
			z-index:auto;
		}
		
	#bottomPanel {
		position:static !important;
		top:auto;
		left:auto;
	}
	
		.fixedTop .account {
			padding:40px 0 0 15px; 
		}
	
	.fixedBtm #footer {
		position:fixed;
		width:100%;
		bottom:0;
	}
	.absoluteBtm #footer,
	.absoluteBtm #searchFooter #footer {
		position:absolute;
		width:100%;
		bottom:0;
	}
	#footer {
		position:static;
		width:100%;
		bottom:auto;
	}
	
		/* IMM092413 IE6/IE7 footer overrides >>> */
		html.ie6 #footer .footer_row #footer_social a,
		html.ie7 #footer .footer_row #footer_social a {
			display:block;
			float:right;
			width:16px;
			height:16px;
			line-height:16px;
		}
		html.ie6 #footer .footer_group,
		html.ie7 #footer .footer_group {
			display:block;
		}
		html.ie6 #footer #footerNav a,
		html.ie7 #footer #footerNav a {
			display:inline;
			float:none;
		}
		html.ie6 #footer #footerNav span.pipeSpace,
		html.ie7 #footer #footerNav span.pipeSpace {
			display:inline;
			float:none;
		}
		/* <<< IMM092413 */	

	#rightPanel #errorMessage {
		margin-left:284px;
	}
	
	#bottomPanel #errorWrap #errorMessage {
		margin-left:20px;
		margin-right:20px;
	}

#overflowDropdown {
	display: none;
	background: #e7ede7;
	border: 1px solid #bbb;
	border-top: none;
	border-left: none;
	padding: 0px 0;
	position: fixed;
	top: 115px;
	right: 0px;
	z-index: 5000;
}

.fixedTop #overflowDropdown {
	top: 28px;	
}

#overflowDropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

#overflowDropdown ul li a {
	display: block;
	padding: 4px 30px 4px 20px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#overflowDropdown ul li a:hover {
	text-decoration: underline;	
}

#root_search #searchbox_dd {
	width:372px;
}

	#tier3 #searchbox_dd {
		height:25px;
	}
	
	html.ie8 #searchbox_dd {
		height:25px;
	}
	
		html.ie8 #searchbox_dd #box{
			background: url(/images/ui-sprite.png) no-repeat 0px -300px;
		}
		
		html.ie8 #searchbox_dd_type {
			background: url(/images/ui-sprite.png) no-repeat 100% -300px;
		}

.pnfSearchBox #searchbox_dd {
	width:323px;
}
	#txtSearch {
		line-height:18px;
	}
			.pnfSearchBox #txtSearch {
				width:252px;
			}

/* <<< IMM072913#???? New beta header styles */


/* IMM070113#US4054 >>> Moving basics_styles.css content here... */

/*
 ----------------------------------------------------------------------------
 The toolbar that contains find, print, etc.
 ----------------------------------------------------------------------------
 */
#patTopicToolTop {
	text-align: right;
	margin-right: 0.5em;
	padding: 2px 0 2px 0;
	top: 10px;
}

#patTopicToolBottom {
	margin-top: 2em;
}

.patTopicTool a {
	text-decoration: none;
}

.patTopicTool a:hover {
	text-decoration: underline;
}

.toolbutton {
	padding: 4px 5px 4px 24px;
	margin-right: 8px;
	color: #757575;
	font-size: 10px;	
	vertical-align: 20%;
}

.findicon {
	background: url(../../../images/icn_fop.gif) no-repeat 0 0;	
}

.printicon {
	background: url(../../../images/icn_print.gif) no-repeat 0 0;	
}

.emailicon {
	background: url(../../../images/icn_email.gif) no-repeat 0 0;	
}

.patTopicTool .stbuttontext { /* the share this button */
	font-size: 10px;
	line-height: 10px;
	color: #757575;	
	vertical-align: 20%;
}

.patTopicTool .stico_default { /* the share this icon */
	background-position: 0px 2px !important;
}
 

/*
 ----------------------------------------------------------------------------
 Implements the minimum width for the right panel
 ----------------------------------------------------------------------------
 */

#basicsTopicMinWidth 
{ 
	min-width: 100px;
}


/*
 ----------------------------------------------------------------------------
 The left side of the page.  This contains most of the content, including
 the title, contributors, and topic text
 ----------------------------------------------------------------------------
 */
 
#basicsTopicLeft 
{
	margin-right: 290px;
}


/*
 ----------------------------------------------------------------------------
 The right side of the page.  
 This contains the related graphics box and related topics box
 ----------------------------------------------------------------------------
 */
 
#basicsTopicRight 
{
	float: right;
	width: 270px;
	padding: 0.5em 0.25em 0 0;
}


#basicsTopicRelTopics
{
	margin-top: 1em;
}

.basicsTopicFancySpacer 
{
	padding-top: 6px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.basicsTopicFancyTop {
	background-color: #006634;
	border-bottom: 6px solid #e2dec5;
}

.basicsTopicFancyTop p {
	margin: 0;
	padding: 0 0 0.5em 0;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}


/*
 ----------------------------------------------------------------------------
 The last updated notice.
 ----------------------------------------------------------------------------
 */
#patTopicLastUpdated {
	margin-top: 1em;
	font-size: 84%;
	font-weight: bold;
}

#patTopicLastUpdated .date {
	font-weight: normal;
}

#patTopicLastUpdated a {
	text-decoration: underline;
}


/*
 ----------------------------------------------------------------------------
 The topic outline (overrides styles in topic.css)
 ----------------------------------------------------------------------------
 */
#topicOutline {
	/* font-size: 100%; */
}

#topicOutline a {
	text-decoration: none;
}

/*
 ----------------------------------------------------------------------------
 from Kevin Konikowski
 ----------------------------------------------------------------------------
 */


			#placeholder {
				margin: 0 auto;
				width: 272px;
				font-family: Verdana, Arial, sans-serif;
			}
			
			a {
			/* US6256  */
			/*	color: #598353; */
				color: #336633;
			}
			
			
			/******/
			
			
			#basics-graphics .openRelatedGraphics a {
				font-size: 11px;
				text-decoration: none;
				font-weight: normal;
			}

			#basics-graphics, #basics-more a {
				font-size: 12px;
				text-decoration: none;
			}
			
			#basics-more a {
				text-shadow: 1px 1px 0px white;
			}
			
			#basics-more a:hover, #basics-graphics a:hover {
				text-decoration: underline;
			}
			
			#basics-graphics {
				width: 256px;
				padding: 11px 8px 8px;
				background: url(../../../images/basics-graphics-bottom.png) bottom;
				margin-bottom: 20px;
				position: relative;
			}
			
			#basics-graphics .basics-box-top {
				background: url(../../../images/basics-graphics-top.png);
			}
			
			#basics-seeall {
				display: block;
				width: 255px;
				height: 31px;
				text-indent: -98765px;
				background: url(../../../images/basics-graphics-seeall.png) 0px 0px;
			}
			
			#basics-seeall:hover {
				background-position: 0px -30px;
			}
			
			#basics-seeall:active {
				background-position: 0px -29px;
				outline: none;
			}
			
			#basics-graphics ul {
				list-style-type: none;
				margin: 10px 8px 15px;
				padding: 0;
			}
			
			#basics-graphics ul li {
				margin: 0 0 7px;
				line-height: 14px;
			}
			
			#basics-more {
				width: 240px;
				padding: 11px 16px 10px;
				border: 1px solid #C3C88E;
				background-color: #F1F2EC;
				margin-bottom: 20px;
				position: relative;
			}
			
			.basics-box-top {
				position: absolute;
				top: 0px;
				left: 0px;
				display: block;
				width: 272px;
				height: 11px;
				font-size: 0px;
				line-height: 0px;
				overflow: hidden;
			}
			
			#basics-graphics h4 {
				margin: 5px 0 0 8px;
				padding: 0;
				width: 100%;
			}

			#basics-graphics .openRelatedGraphics {
				float: right;
				padding-right: 26px;
			}

			#basics-more h4 {
				margin: 0;
				padding: 10px 0 0 0;
			}
			
			.hidden {
				display: none;
			}
			
			#basics-more dl {
				margin: 0;
				padding: 0;
			}
			
			#basics-more dl dt {
				font-weight: bold;
				font-size: 14px;
				text-shadow: 1px 1px 0px white;
				margin: 25px 0 5px;
			}
			
			#basics-more dl dd {
				margin: 0 0 7px;
				padding: 0;
				line-height: 14px;
			}
			


/*
 ----------------------------------------------------------------------------
 The popup for last updated date.
 ----------------------------------------------------------------------------
 */
.patTopicVersion {
	background-color: #eeeeee;
	border: solid 1px #336633;
	padding: 10px 13px 10px 13px;
	text-align: justify;
	font-size: 84%;
	font-style: italic;
	width: 300px;
}

.patTopicVersion p {
	margin: 0 0 0 0;
	line-height: 125%;
}

.patTopicVersion img {
	height: 12px;
	width: 12px;
	border: none;
	display: inline;
	text-align: right;
}

.patTopicVersionClose {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: right;
}

#patTopicRelTopics .highlighted {
  color: #ffffff;
  background-color: #336633;
}

#patTopicRelTopics .highlightedCurrent {
  color: #ffffff;
  background-color: #D7833D;
}


/*
 ----------------------------------------------------------------------------
 The Basics hover text
 ----------------------------------------------------------------------------
 */

#tooltipper{
	position: absolute;
	width: 255px;
	border: 1px solid black;
	background-color: #DDDDDD;
	font-style: italic;
	padding: 8px;
	display: none;
	left: 0;
}

#errorPage {
	top:0px;
	margin-top:24px;
}
	#errorPage #footer {
		position:static;
		bottom:auto;
	}
		.fixedBtm #errorPage #footer {
			position:fixed;
			bottom:0px;
		}
		
/*
------------------------------------------------
Overrides for non-latin languages
---------------------------------------------
*/
.lang_ja #header2 #tier3 #tier3_content ul li a, 
.lang_ja #header2 #tier2 #tier2_content a#headerLogin,
.lang_ja #header2 #tier1 #headerLinks a#headerHelp, 
.lang_ja #topSearchBar a, 
.lang_ja #header2 #tier2 #tier2_content strong,
.lang_ja #overflowDropdown ul li a,
.lang_ja #header2 #tier2 #tier2_content a#myAccountLink{
	font-weight: normal;	
	font-size: 12px;
	line-height: 24px;
}

.lang_ja #topSearchBar a{
	line-height: 20px;
}

.lang_ja #header2 #tier3 #tier3_content ul li#pcus a {
	font-weight: bold;
	font-size: 11px;	
	line-height: 23px;
}
.lang_ja #searchbox_dd_type, .lang_ja #footer .footer_group_col a, .lang_ja #footer .footer_row{
	font-size: 12px;
}

/* US6298 - successful validation message */ 
#serviceEmailInput .success {
	color:#336633;
}
/* US6298 - fix text overflow */ 
#footerEmail #tooltip_container #tooltip_content {
	word-wrap:break-word;
}
/* US6298 - move submit button and change width of #ticketNumber */ 
#footerEmail #ticketNumber {
    width: 180px;
}
#footerEmail label.infield {
    margin: 4px 0 0 3px;
}
