/*
--------------------------------------------------------------------------------
 threeFullHeaderFullGreybar.css
--------------------------------------------------------------------------------
*/
#topPanel {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 109px;
	width: 100%;
	overflow: hidden;
	background: #e0e0c3 url(../images/bg_fade_all.gif) repeat-y fixed left;
	margin: 0;
	padding: 0;
	z-index: 800;
}

.wk-header #topPanel {
	background: #ffffff none repeat-y fixed left;
	height: 133px;
}

#leftPanel {
	position: fixed;
	top: 109px;
	left: 0px;
	bottom: 0px;
	width: 264px;
	overflow: auto;
	background-color: #eaeaea;
	margin: 0;
	padding: 0;
	z-index: 800;
}

.wk-header #leftPanel {
	top: 173px;	
}

#rightPanel {
	position: absolute;
	top: 109px;
	left: 264px;
	right: 0px;
	overflow: visible;
	margin: 0;
	padding: 0;
	bottom: 0px;
	z-index: 100;
}

.wk-header #rightPanel {
	top: 173px;	
}

/* Sample Topic override */
.sampletopic div#leftPanel, .sampletopic div#rightPanel, .sampletopic div#dragbar {
	top: 285px;
}

.wk-header.sampletopic div#leftPanel, .wk-header.sampletopic div#rightPanel, .wk-header.sampletopic div#dragbar {
	top: 355px;
}
.warningMsgST.wk-header.sampletopic div#leftPanel, .warningMsgST.wk-header.sampletopic div#rightPanel, .warningMsgST.wk-header.sampletopic div#dragbar {
	top: 405px;
}

.sampletopic div#topPanel {
	height: 365px;	
}

.sampletopic div#greyBar {
	top: 245px;
	background: white url(/images/sample_topic/back_bot.png) repeat-x bottom center;	
}
.wk-header.sampletopic div#greyBar {
	top: 315px;	
}
.warningMsgST.wk-header.sampletopic div#greyBar {
	top: 365px;	
}

/* end sample topic */

/* back to search override */
.backtosearch div#leftPanel, .backtosearch div#rightPanel, .backtosearch div#dragbar {
	top: 130px;
}

.backtosearch div#topPanel {
	height: 130px;	
}

.backtosearch div#greyBar {
	top: 95px;
	height: 35px;
	background: white url(/images/sample_topic/back_bot.png) repeat-x bottom center;	
}

/* warning message */
.warningMsg div#leftPanel, .warningMsg div#rightPanel, .warningMsg div#dragbar {
	top: 151px;
}
.wk-header.warningMsg div#leftPanel, .wk-header.warningMsg div#rightPanel, .wk-header.warningMsg div#dragbar {
	top: 175px;
}

.warningMsg div#topPanel{
	height: 151px;	
}
.wk-header.warningMsg div#topPanel{
	height: 175px;	
}

.backtosearch.warningMsg div#leftPanel, .backtosearch.warningMsg div#rightPanel, .backtosearch.warningMsg div#dragbar {
	top: 171px;
}

.backtosearch.warningMsg div#topPanel{
	height: 171px;	
}
/* end warning message */
