/* IMM061713#US4054 >>> Topic css overrides for beta */
#topicContent {
	margin:30px 60px 30px 310px;
}

form[name='EmailForm'] #topicContent {
	margin-left:30px;
}

	/* DE4618: For IE7+compatiblity mode, strip padding-top/margin-top */
	html.ie7 #topicContent .headingAnchor {
		padding-top:0;
		margin-top:0;
	}
	
	/* DE4618: For IE7+compatiblity mode, adjust padding-top/margin-top */
	html.ie7 #topicContent .drugH1Div {
		padding-top:10px;
		margin-top:0;
	}

#topicOutline {
	position:fixed;
	left:0px;
	width:248px;
	overflow:auto;
	z-index:2;
	background-color:#eaeaea;
}

#drugDisclaimMask {
	position:absolute;
}

/* ---- Find In Page overrides --->>> */
.findInPageDialog {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 	
	border:4px solid #ABCCE2;
	outline:#475B67 auto 1px !important;
	-webkit-box-shadow: 0px 0px 7px 4px #bbb;
	box-shadow: 0px 0px 7px 4px #bbb;	
}

	.findInPageDialog .ui-widget-header {
		background-color:#DDE8EF;
		background-image:url();
		color:#444;
		font:bold 12px/15px Arial;
		border-top:1px solid #8C9BA7;
		border-left:1px solid #8C9BA7;
		border-right:1px solid #8C9BA7;
		border-bottom:0px;
		
	}
	
		.findInPageDialog .ui-dialog-title {
			margin-left:0.5em;
		}
		
		.findInPageDialog .ui-dialog-titlebar-close {
			background:#fff url(/images/fit-elements.gif) 0 0 no-repeat;
			width:15px;
			height:15px;
			padding:0;
			margin:-7px 2px 0 0;
		}
		.findInPageDialog .ui-dialog-titlebar-close.ui-state-hover {
			background-position-y:-15px;
			border:0;
		}
			.findInPageDialog .ui-dialog-titlebar-close .ui-icon-closethick {
				cursor:pointer;
				background-image:url() !important;
				width:15px !important;
				height:15px !important;
			}
	
	.findInPageDialog #findInPage {
		border:1px solid #8C9BA7;
		border-top:1px solid #C6D2DB;
		background-color:#fff;
		padding:14px 8px;
	}
	
		.findInPageDialog #findInPage,
		.findInPageDialog input {
			font:normal 12px/14px Arial,Helvetica Neue;
		}
		
			.findInPageDialog #findInPage #fitWrap {
				float:left;
				border:1px solid #CCC;
				border-right:0px;
				width:166px;
				height:18px;
			}
				.findInPageDialog #findInPage input[type='text']{
					color:#000;
					padding:0 0 0 3px;
					border:0;
					margin:0;
					width:147px;
					height:16px;
				}
			
			.findInPageDialog #findInPage input[type='text']:focus{
				outline:none;
			}
			
				.findInPageDialog #findInPage #clrTxt {
					width:12px;
					height:12px;
					position:absolute;
					background:url(/images/fit-elements.gif) 0 -66px no-repeat;
					top:18px;
					cursor:pointer;
					right:62px;
					z-index:50;
				}
			
			.findInPageDialog #findInPage #findInPageFind {
				background-color:#ACD7F3;
				font-weight:bold;
				padding:0;
				margin:0;
				width:50px;
				height:20px;
				cursor:pointer;
				border:1px solid #CCC;
				color:#444;
			}
		
		.findInPageDialog #findInPageCtrls {
			padding:8px 0;
		}
			.findInPageDialog #findInPageCtrls #count {
				color:#333;
				width: 30px;
				height: 18px;		
				text-align: center;
				display: block;
				float:left;
				font-weight: bold;
				line-height: 18px;
				margin-right:15px;
			}
			
			.findInPageDialog #findInPageCtrls #syn {
				height:16px;
				padding-left: 22px;
				background:#fff url(/images/fit-elements.gif) 0 -48px no-repeat;
				line-height: 16px;
				display: block;
				float:left;
				color: #333;
				text-decoration: none;
				font-size: 11px;
				width: 92px;
			}		
			.findInPageDialog #findInPageCtrls #syn.off {
				background-position:0 -30px;
			}
			
			.findInPageDialog #findInPageCtrls #backfor {
				display:block;
				float:left;
				width: 49px;
				height: 20px;
				margin-left:10px;
				background: url(/images/fit-backfor.gif) no-repeat;
			}
				.findInPageDialog #findInPageCtrls #backfor #back {
					display: block;
					float:left;
					width: 24px;
					height: 20px;
				}
				
				.findInPageDialog #findInPageCtrls #backfor #forward {
					display: block;
					float:left;
					width: 25px;
					height: 20px;
				}
#topicContent .highlighted, 
#topicOutline .highlighted {
	color:inherit;
	//color:expression(this.parentNode.currentStyle['color']);	/*IE7 hack*/
	background-color:#aeedae;
	padding:4px 2px;
}				
#topicContent .highlightedCurrent, 
#topicOutline .highlightedCurrent {
	color:inherit;
	//color:expression(this.parentNode.currentStyle['color']);  /*IE7 hack*/
	background-color: #f7d47f;
	padding: 4px 2px;
	box-shadow: 0px 0px 16px #f7d47f;
	position:relative;
	z-index:1;
}
/* <<<---- Find In Page overrides --- */
	